<p>Xin chào <%= @resource.email %>!</p>

<p>Có ai đó đã yêu cầu đổi mật khẩu của bạn. Bạn có thể nhấn vào link bên dưới để đổi mật khẩu.</p>

<p><%= link_to 'Đổi mật khẩu của tôi', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Nếu bạn không yêu cầu, hãy bỏ qua email này!</p>
<p>Mật khẩu sẽ không đổi cho đến khi bạn nhấn vào link và đặt một mật khẩu mới.</p>
