<div class="col-md-2">
  <div class="list-group">
    <a href="#" class="list-group-item">
      <i class="fa fa-home"></i>Home
    </a>
    <a href="#sub-menu-1" class="list-group-item" data-toggle="collapse" data-parent="#main-menu"><i class="fa fa-id-card"></i>My Profile <span class="caret"></span></a>
    <div class="collapse list-group-level1" id="sub-menu-1">
      <a href="#" class="list-group-item" data-parent="#sub-menu">Sub Item 1</a>
      <a href="#" class="list-group-item" data-parent="#sub-menu">Sub Item 2</a>
    </div>
  </div>
</div>
